/* your styles go here */

@media (min-width: 768px) {
	#sidebar {
		position: fixed;
	}

	.content-column {
		margin-left: 330px;
	}
}
/*
@media (max-width: 768px) {
	.small-navbar button {
		position: fixed;
		z-index: 1;
	}
}*/